<% provide(:title, "Log in") %>
<h1 class="login-heading">Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :username, { :class => "credentials" } %>
      <%= f.text_field :username %>

      <%= f.label :password, { :class => "credentials" } %>
      <%= f.password_field :password %>

      <%= f.submit "Log in" %>
    <% end %>
</div>
